/*
 * MODAL DIALOGS
 * =============================================
 * @Dependencies: base.css
 */

.modal {
    display: none;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;

    overflow: hidden;
    transition: background-color .5s;
}

.modal[aria-hidden="false"] {
    display: block;
    padding: 1.2rem; /* Create "margins" around .modal-dialog on smaller screens */
    background-color: hsla(0, 0%, 100%, .9);
}

.modal-dialog {
    width: auto;
    max-width: 54.6rem;
    margin: 50vh auto;
    border: 1px solid #0078d7;
    outline: 0;
    padding: 2.4rem;

    background-color: #fff;

    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.modal__body {
    margin-top: .8rem;
}

/* Needed to contain floats when button:only-child */
.modal__footer::after {
    display: block;
    clear: both;
    content: "";
}

.modal__footer button {
    width: calc(50% - 3px);
    margin-top: 2rem;
}

.modal__footer button:only-child {
    float: right;
}

@media (min-width: 33.75em) {

    .modal-dialog {
        min-width: 29.6rem;
    }

}
