<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    {{>metas}}

    {{>styles}}
</head>

<body>
    {{>gdpr}}
    {{>header navs=menuData}}
    {{{body}}}
    {{>footer navs=menuData}}

    {{>scripts}}
</body>
</html>
