<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{{url_for "css/main.css"}}">
    </head>
    <body>
        <main class="container">
            <article class="content">
                <div class="container">
                    {{#if isScanner}}
                        {{>header navs=menuData}}

                        {{{body}}}

                        {{>footer navs=menuData}}
                    {{else}}
                        {{>header navs=site.data.menu}}

                        {{#compare page.category '===' 'developer-guide'}}
                            {{>sub-page intro=site.data.developerGuide pages=(getAllDeveloperGuidePages site.pages.data)}}
                        {{/compare}}

                        {{#compare page.category '===' 'user-guide'}}
                            {{>sub-page intro=site.data.userGuide pages=(getAllUserGuidePages site.pages.data)}}
                        {{/compare}}

                        {{#compare page.category '===' 'default'}}
                            {{>single-page}}
                        {{/compare}}

                        {{>footer navs=site.data.menu}}
                    {{/if}}
                </div>
            </article>
        </main>
        <script src="{{url_for "js/script.js "}}"></script>
    </body>
</html>
