*.log
.deploy*/
.DS_Store
.vscode/
db.json
package-lock.json
dist/
node_modules/
src/content-replaced
src/content/_data/categories.json
src/content/_data/changelog.yml
src/content/_data/changelog.json
src/content/about/
src/content/docs/contributor-guide/
src/content/docs/user-guide/
src/webhint-theme/formatter
src/webhint-theme/layout/partials/scan
src/webhint-theme/source/core/css/scan
src/webhint-theme/source/images/scan
src/webhint-theme/source/js/partials
src/webhint-theme/source/js/scan
themes/webhint/
Thumbs.db

# Files copied in during postinstall
src/webhint-theme/source/images/developer-nellie.svg
src/webhint-theme/source/images/nellie-confused.svg
src/webhint-theme/source/images/nellie-construction.svg
src/webhint-theme/source/images/nellie-customizable.svg
src/webhint-theme/source/images/nellie-octocat.svg
src/webhint-theme/source/images/nellie-searching.svg
