*.log
.deploy*/
.DS_Store
.vscode/
db.json
dist/
node_modules/
src/content/_data/categories.json
src/content/_data/changelog.yml
src/content/about/
src/content/docs/contributor-guide/
src/content/docs/user-guide/
src/sonarwhal-theme-optimized/
src/content-replaced
Thumbs.db
