<section class="section container">
    <div class="layout layout--basic">
        <div class="module--primary">
            <img src="/images/nellie-constrction.svg" alt="Website is currently under construction">
        </div>
        <div class="module--secondary">
            <h1 id="page-heading">{{ heading }}</h1>
            <h2>Please excuse Nellie's interruption: her and her team are currently working on improving the service. Please check back soon.</h2>
        </div>
    </div>
</section>
