<footer class="footer--home">
    <div class="footer-nav container">
        <div class="footer-nav__item">
            <p class="category">Scanner</p>
            <ul>
                <li>
                    <a href="/scanner">New scan</a>
                </li>
            </ul>
        </div>
        <div class="footer-nav__item">
            <p class="category">Documentation</p>
            <ul>
                <li>
                    <a href="/docs/user-guide/">User Guide</a>
                </li>
                <li>
                    <a href="/docs/developer-guide/rules/">Rules</a>
                </li>
                <li>
                    <a href="/docs/developer-guide/">Developer Guide</a>
                </li>
            </ul>
        </div>
        <div class="footer-nav__item">
            <p class="category">
                About
            </p>
            <ul>
                <li>
                    <a href="/about/faq">FAQ</a>
                </li>
                <li>
                    <a href="/about/governance/">Governance</a>
                </li>
                <li>
                    <a href="/about/contributors/">Contributors</a>
                </li>
                <li>
                    <a href="/about/code-of-conduct/">Code of Conduct</a>
                </li>
            </ul>
        </div>
        <div class="footer-nav__item">
            <p class="category">
                <a href="/changelog/">Changelog</a>
            </p>
        </div>
        <div class="footer-nav__item .github-icon">
            <p class="category">
                <a href="https://github.com/sonarwhal">GitHub</a>
            </p>
        </div>
    </div>
</footer>
