<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>sonarwhal, a linting tool for the web</title>
    {{>metas}}

    {{>styles}}
    <!-- build:css /static/styles/home.css -->
    <link rel="stylesheet" href="/core/css/home.css">
    <!-- endbuild -->
</head>

<body>
    {{>gdpr}}

    {{>header navs=site.data.menu}}
    {{>home}}
    {{>footer navs=site.data.menu}}

    {{>scripts}}
</body>
</html>
