<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    {{>metas}}

    {{>styles}}
    <!-- build:css /static/styles/scanner.css -->
    <link rel="stylesheet" href="/core/css/scanner.css">
    <link rel="stylesheet" href="/core/css/scan-results.css">
    <!-- endbuild -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css" rel="stylesheet">
</head>

<body>
    {{>header navs=menuData}}
    {{{body}}}
    {{>footer navs=menuData}}

    {{>scripts}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/xml.min.js"></script>

    <script src="/scanner/helpers/compare,cutCodeString,cutString,cutUrlString,getLength,normalizePosition,pluralize,reverseString,shortenString,linkify"></script>
    <!-- build:js /static/scripts/scanner.js -->
    <script src="/js/scanner-common.js"></script>
    <script src="/js/scanner-submit.js"></script>
    <!-- endbuild -->
</body>
</html>
