<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    {{>metas}}

    {{>styles}}
    <!-- build:css /static/styles/scanner.css -->
    <link rel="stylesheet" href="/core/css/scanner.css">
    <link rel="stylesheet" href="/core/css/scan-results.css">
    <!-- endbuild -->
    <!-- build:css /static/styles/highlight.css -->
    <link href="/components/highlight/default.min.css" rel="stylesheet">
    <!-- endbuild -->
</head>

<body>
    {{>gdpr}}

    {{>header navs=menuData}}
    {{{body}}}
    {{>footer navs=menuData}}

    {{>scripts}}
    <!-- build:js /static/scripts/handlebars.js -->
    <script src="/js/handlebars/handlebars.min.js"></script>
    <!-- endbuild -->
    <!-- build:js /static/scripts/highlight.js -->
    <script src="/js/highlight/highlight.min.js"></script>
    <script src="/js/highlight/languages/xml.min.js"></script>
    <!-- endbuild -->
    <script src="/scanner/helpers/compare,cutCodeString,cutString,cutUrlString,getLength,normalizePosition,pluralize,reverseString,shortenString,linkify"></script>
    <!-- build:js /static/scripts/scanner.js -->
    <script src="/js/scanner-common.js"></script>
    <script src="/js/scanner-submit.js"></script>
    <!-- endbuild -->
</body>
</html>
