<footer>
    <div>
        <h3>Scanner</h3>
        <ul>
            <li>New Scan</li>
            <li>Compare</li>
        </ul>
    </div>
    <div>
        <h3>Documentation</h3>
        <ul>
            <li>User Guide</li>
            <li>Developer Guide</li>
        </ul>
    </div>
    <div>
      <h3>About</h3>
      <ul>
          <li>FAQ</li>
          <li>Governance</li>
          <li>Contributors</li>
      </ul>
  </div>
</footer>