<header role="banner" class="docs__header">
    <h1 class="docs__site-title">
        Sonar
    </h1>
    <nav class="docs__nav">
        <ul class="list--links">
            {{#each navs}}
            <li>
                <a href="{{url_for link}}">{{title}}</a>
            </li>
            {{/each}}
        </ul>
    </nav>
</header>