<div class="bg-wrap-home">
    <main>
        <section class="container home-container--section">
            <div class="layout layout--basic--offset--alt vertical-align">
                <div class="module module--primary">
                    <h1>Use webhint to improve your website</h1>
                    <p class="container--section__welcome subtitle">webhint helps you improve your site's accessibility, speed, cross-browser compatibility, and more by checking your code for best practices and common errors.</p>
                </div>
                <div class="module module--secondary">
                    <img class="hero-image "src="/images/underwater-flipped.svg" alt="" role="presentation" />
                </div>
            </div>
        </section>
        <div class="bg-wrap--white">
            <section class="container home-container--section home-container__features">
                <h2 class="subheading subheading--home">Hints to help you throughout the web development cycle</h2>
                <div class="layout layout--thirds">
                    <div class="module feature">
                        <img src="/images/webhint_puzzle.svg" alt="" role="presentation" />
                        <h3 class="subtitle subtitle--home">Develop</h3>
                        <p class="feature__highlight">Use the <a href="/docs/user-guide/extensions/vscode-webhint/">VS Code extension</a> to get real-time feedback in your IDE when writing code.</p>
                    </div>
                    <div class="module feature">
                        <img src="/images/webhint_firefox.svg" alt="" role="presentation" />
                        <h3 class="subtitle subtitle--home">Debug</h3>
                        <p class="feature__highlight">Test your site from the browser with the <a href="/docs/user-guide/extensions/extension-browser/">DevTools extension</a>. Using Edge? webhint now ships with Edge DevTools!</p>
                    </div>
                    <div class="module feature">
                        <img src="/images/developer-nellie.svg" alt="" role="presentation" />
                        <h3 class="subtitle subtitle--home">Deliver</h3>
                        <p class="feature__highlight">Use the <a href="/docs/user-guide/">webhint CLI</a> in your CI/CD pipeline to analyze your site before it goes into production.</p>
                    </div>
                </div>
            </section>
        </div>
        <section class="container home-container--section" id="scanner-input">
            <div class="layout layout--basic--offset--alt">
                <div class="module module--primary">
                    <h1 class="headline">Try it</h1>
                    <div class="code-feature">$ npx hint https://webhint.io</div>
                    <p class="container--section__welcome">Run this line from your favorite command-line tool to give webhint a spin. Learn more in our <a href="/docs/user-guide/">getting started</a> guide.</p>
                    
                </div>
                <div class="module module--secondary">
                    <img class="scan-image" src="/images/nellie-searching.svg" alt="" role="presentation">
                </div>
            </div>
        </section>
        <div class="bg-wrap--grey">
            <section class="container home-container--section home-container__install" id="cli-howto">
                <h2 class="subheading subheading--home">Make it your own</h2>
                <div class="layout layout--halves">
                    <div class="module">
                        <img class="hero-image" src="/images/nellie-octocat.svg" alt="" role="presentation" />
                    </div>
                    <div class="module">
                        <div class="feature__container">
                            <h3 class="subtitle subtitle--home">Customize</h3>
                            <p class="feature__highlight">Every site is different. webhint adapts its feedback when you give it more information: <a href="/docs/user-guide/configuring-webhint/ignoring-domains/">ignore 3rd-party code</a>, <a href="/docs/user-guide/configuring-webhint/browser-context/">prioritize your users' browsers</a>, and control the results with minimal setup.</p>
                        </div>
                        <div class="feature__container">
                            <h3 class="subtitle subtitle--home">Create</h3>
                            <p class="feature__highlight">With the help of our <a href="/docs/contributor-guide/">contributor guide</a>, you can <a href="/docs/contributor-guide/how-to/hint/">create new hints</a> to suit your needs.</p>
                        </div>
                        <div class="feature__container">
                            <h3 class="subtitle subtitle--home">Contribute</h3>
                            <p class="feature__highlight">webhint welcomes anyone who wants to make the web a better place. <a href="https://github.com/webhintio/hint">Join us on GitHub</a> to file issues and feature requests, contribute code, and improve the documentation!</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</div>
