<main>
    <article class="content" aria-labelledby="page-heading">
        <nav class="container breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="/">Home</a></li>
                <li>Scanner</li>
            </ul>
        </nav>
        <header class="page-intro container">
            <h1 id="page-heading">Try webhint</h1>
            <p class="subtitle">The webhint online scanner has been retired. Please use the <a href="/docs/user-guide/extensions/extension-browser/">browser DevTools integration</a>>a, <a href="/docs/user-guide/extensions/vscode-webhint/">VS Code extension</a>, or <a href="/docs/user-guide/">standalone CLI</a> instead.</p>
        </header>
    </article>
</main>
