<main>
    <article class="container" aria-labelledby="page-heading">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/scanner/">Scanner</a></li>
                <li>Scan Error</li>
            </ul>
        </nav>
        <header class="page-intro">
            <h1 id="page-heading">Uh-oh! There's been an error and the scan could not start.</h1>
        </header>
        <div class="section">
            <p>If the issue persists please file an issue on <a href="https://github.com/webhintio/webhint.io/issues/new">GitHub</a>.</p>
            <div class="actions scanner-cta">
              <a href="/scanner/" class="scanner-cta__link">Return to the Scanner</a>
            </div>
        </div>
    </article>
</main>
