<div class="subtitle category-description">
    <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. </p>
</div>
<div class="layout layout--thirds">
    <div class="module">
       <ul>
            <li><a href="rule-axe/"><code>axe</code></a></li>
            <li><a href="rule-meta-charset-utf-8/"><code>meta-charset-utf-8</code></a></li>
        </ul>
    </div>
</div>