<div class="subtitle category-description">
    <p class="subtitle">{{description}}</p>
</div>
<div class="layout">
    <div class="module">
       <ul>
            {{#each rules}}
            <li><a href="{{link}}"><code>{{name}}</code></a></li>
            {{/each}}
        </ul>
    </div>
</div>
