<div class="layout layout--halves">
    <div class="module placement">
        <p class="title icon--categories icon--a11y">Accessibility</p>
        <p class="placement__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
            sit amet lacus accumsan et viverra justo commodo.</p>
        <div class="placement__rules">
            <p class="subtitle--alt">2 Rules</p>
            <a class="button--alt placement__button" href="#">View All</a>
        </div>
    </div>
    <div class="module placement">
        <p class="title icon--categories icon--dev">Development</p>
        <p class="placement__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
            sit amet lacus accumsan et viverra justo commodo.</p>
        <div class="placement__rules">
            <p class="subtitle--alt">2 Rules</p>
            <a class="button--alt placement__button" href="#">View All</a>
        </div>
    </div>
    <div class="module placement">
        <p class="title icon--categories icon--interop">Interoperability</p>
        <p class="placement__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
            sit amet lacus accumsan et viverra justo commodo.</p>
        <div class="placement__rules">
            <p class="subtitle--alt">2 Rules</p>
            <a class="button--alt placement__button" href="#">View All</a>
        </div>
    </div>
    <div class="module placement">
        <p class="title icon--categories icon--perf">Performance</p>
        <p class="placement__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
            sit amet lacus accumsan et viverra justo commodo.</p>
        <div class="placement__rules">
            <p class="subtitle--alt">2 Rules</p>
            <a class="button--alt placement__button" href="#">View All</a>
        </div>
    </div>
    <div class="module placement">
        <p class="title icon--categories icon--pwa">PWAs</p>
        <p class="placement__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
            sit amet lacus accumsan et viverra justo commodo.</p>
        <div class="placement__rules">
            <p class="subtitle--alt">2 Rules</p>
            <a class="button--alt placement__button" href="#">View All</a>
        </div>
    </div>
    <div class="module placement">
        <p class="title icon--categories icon--security">Security</p>
        <p class="placement__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
            sit amet lacus accumsan et viverra justo commodo.</p>
        <div class="placement__rules">
            <p class="subtitle--alt">2 Rules</p>
            <a class="button--alt placement__button" href="#">View All</a>
        </div>
    </div>
</div>