<div class="module module--primary">
    <div class="layout layout--thirds">
        <div class="module placement">
            <p class="title">Accessibility</p>
            <p class="base">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
                sit amet lacus accumsan et viverra justo commodo.</p>
            <div class="placement--rules">
                <p class="subtitle">2 Rules</p>
                <a class="button button--cta" href="#">View All</a>
            </div>
        </div>
        <div class="module placement">
            <p class="title">Development</p>
            <p class="base">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
                sit amet lacus accumsan et viverra justo commodo.</p>
            <div class="placement--rules">
                <p class="subtitle">2 Rules</p>
                <a class="button button--cta" href="#">View All</a>
            </div>
        </div>
        <div class="module placement">
            <p class="title">Interoperability</p>
            <p class="base">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
                sit amet lacus accumsan et viverra justo commodo.</p>
            <div class="placement--rules">
                <p class="subtitle">2 Rules</p>
                <a class="button button--cta" href="#">View All</a>
            </div>
        </div>
        <div class="module placement">
            <p class="title">Performance</p>
            <p class="base">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
                sit amet lacus accumsan et viverra justo commodo.</p>
            <div class="placement--rules">
                <p class="subtitle">2 Rules</p>
                <a class="button button--cta" href="#">View All</a>
            </div>
        </div>
        <div class="module placement">
            <p class="title">PWAs</p>
            <p class="base">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
                sit amet lacus accumsan et viverra justo commodo.</p>
            <div class="placement--rules">
                <p class="subtitle">2 Rules</p>
                <a class="button button--cta" href="#">View All</a>
            </div>
        </div>
        <div class="module placement">
            <p class="title">Security</p>
            <p class="base">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
                sit amet lacus accumsan et viverra justo commodo.</p>
            <div class="placement--rules">
                <p class="subtitle">2 Rules</p>
                <a class="button button--cta" href="#">View All</a>
            </div>
        </div>
    </div>
</div>
