<main class="container">
    <article class="content" aria-labelledby="page-heading">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="/">Home</a></li>
                <li>Documentation</li>
            </ul>
        </nav>
        <header class="page-intro">
            <h1 id="page-heading">{{intro.title}}</h1>
        </header>
        <div class="section">
            <div class="documentation-wrapper">
                {{>search-form}}
                <div class="documentation">
                    <p class="subtitle">Or browse the documentation by guide</p>
                    <ul class="bare">
                        <li class="documentation-card">
                            <a href="/docs/user-guide/">
                                <div class="documentation-card__main">
                                    <img src="{{url_for "images/user-guide-icon.svg"}}" class="documentation-card__icon" alt="" role="none">
                                    <p class="documentation-card__title">User Guide</p>
                                </div>
                            </a>
                        </li>
                        <li class="documentation-card">
                            <a href="/docs/developer-guide/">
                                <div class="documentation-card__main">
                                    <img src="{{url_for "images/dev-guide-icon.svg"}}" class="documentation-card__icon" alt="" role="none">
                                    <p class="documentation-card__title">Developer Guide</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </article>
</main>
