<div class="bg-wrap-home">
    <main>
        <article>
            <section class="home-container container">
                <div class="top-illustration">
                    <img src="/images/iceberg-left.svg" id="iceberg1" alt="" role="none">
                    <img src="/images/iceberg-middle.svg" id="iceberg2" alt="" role="none">
                    <img src="/images/iceberg-right.svg" id="iceberg3" alt="" role="none">
                    <img src="/images/narwhal.svg" id="narwhal" alt="" role="none">
                </div>
            </section>
            <section class="dark-blue">
                <div class="container home-container">
                    <section class="home-container home-container--section">
                        <h1>sonar</h1>
                        <p class="subheading">A linting tool for the web.</p>
                        <div class="actions">
                            <a class="button button-cta" href="/docs/user-guide/">Getting Started with sonar</a>
                        </div>
                    </section>
                    <section class="container home-container">
                        <div class="layout layout--halves vertical-align">
                            <div class="module">
                                <img src="images/home-nellie.svg" class="sub-illustration" alt="" role="none">
                            </div>
                            <div class="module">
                                <p class="subtitle">Install sonar (requires node 8)</p>
                                <div class="code-wrap">
                                    <ol>
                                        <li>npm install -g @sonarwhal/sonar</li>
                                        <li>sonar --init</li>
                                        <li>sonar https://awesomesite.com</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="home-container home-container--section home-container__documentation">
                        <p class="title uppercase-text">Documentation</p>
                        <div class="layout layout--thirds">
                            <div class="module">
                                <a href="/docs/user-guide/">
                                    <img src="images/user-guide-icon.svg" class="icons--home" alt="" role="none">
                                    <p>User Guide</p>
                                </a>
                            </div>
                            <div class="module">
                                <a href="/docs/developer-guide/rules/">
                                    <img src="images/rules-icon.svg" class="icons--home" alt="" role="none">
                                    <p>Rules</p>
                                </a>
                            </div>
                            <div class="module">
                                <a href="/docs/developer-guide/">
                                    <img src="images/dev-guide-icon.svg" class="icons--home" alt="" role="none">
                                    <p>Developer Guide</p>
                                </a>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </article>
    </main>
</div>
