<main>
    <div id="scan-processing-illustraiton" class="nellie-waiting">
        <div class="nellie-waiting__container">
            <img src="/images/click-1.svg" alt="click" class="nellie-waiting__click-one" />
            <img src="/images/click-2.svg" alt="click" class="nellie-waiting__click-two" />
            <img src="/images/click-3.svg" alt="click" class="nellie-waiting__click-three" />
            <img src="/images/home-nellie.svg" alt="Nellie waiting for the scan to complete" class="nellie-waiting__main"/>
        </div>
    </div>

    <article class="content" aria-labelledby="page-heading">
        <nav class="container breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="/">Home</a></li>
                <li>Scanner</li>
            </ul>
        </nav>
        <header class="page-intro container">
            <h1 id="page-heading">{{intro.title}}</h1>
            <p class="subtitle">{{intro.description}}</p>
        </header>
        <div class="section container">
            <div class="layout layout--sidebar">
                <div class="module module--primary">

                    <!--- Recommended Configuration Checked --->

                    <div id="recommended-config">
                        <p class="subtitle">You've selected to use Nellie's recommended settings for the scan. [brief blurb about what these settings are]</p>
                    </div>

                    <!--- Manual Configuration Checked --->

                    <div id="manual-config" hidden>
                        <p class="title">Rules</p>
                        <div class="rule">
                            <fieldset class="checkable-set rule-category">
                                <legend>
                                    <input type="checkbox" id="accessibility"/>
                                    <label for="accesibility">Accessibility (a11y)</label>
                                </legend>
                                <div class="rule-category__children">
                                    <input type="checkbox" id="axe"/>
                                    <label for="axe">axe</label>

                                    <input id="meta-charset-utf-8" type="checkbox"/>
                                    <label for="meta-charset-utf-8">meta-charset-utf-8</label>
                                </div>
                            </fieldset>
                            <button title="open" class="button--icon icon--open"></button>
                        </div>
                        <div class="rule">
                            <fieldset class="checkable-set rule-category">
                                <legend>
                                    <input type="checkbox" id="interoperability"/>
                                    <label for="interoperability">Interoperability</label>
                                </legend>
                                <div class="rule-category__children">
                                    <input type="checkbox" id="content-type"/>
                                    <label for="content-type">content-type</label>

                                    <input id="highest-available-document-mode" type="checkbox"/>
                                    <label for="highest-available-document-mode">highest-available-document-mode</label>

                                    <input id="html-checker" type="checkbox"/>
                                    <label for="html-checker">html-checker</label>

                                    <input id="no-friendly-error-pages" type="checkbox"/>
                                    <label for="no-friendly-error-pages">no-friendly-error-pages</label>
                                </div>
                            </fieldset>
                            <button title="open" class="button--icon icon--open"></button>
                        </div>
                        <div class="rule">
                            <fieldset class="checkable-set rule-category">
                                <legend>
                                    <input type="checkbox" id="performance"/>
                                    <label for="performance">Performance</label>
                                </legend>
                                <div class="rule-category__children">
                                    <input type="checkbox" id="no-html-only-headers"/>
                                    <label for="no-html-only-headers">no-html-only-headers</label>
                                </div>
                            </fieldset>
                            <button title="open" class="button--icon icon--open"></button>
                        </div>
                        <div class="rule">
                            <fieldset class="checkable-set rule-category">
                                <legend>
                                    <input type="checkbox" id="pwas"/>
                                    <label for="pwas">PWAs</label>
                                </legend>
                                <div class="rule-category__children">
                                    <input type="checkbox" id="manifest-exists"/>
                                    <label for="manifest-exists">manifest-exists</label>

                                    <input type="checkbox" id="manifest-file-extension"/>
                                    <label for="manifest-file-extension">manifest-file-extension</label>
                                </div>
                            </fieldset>
                            <button title="open" class="button--icon icon--open"></button>
                        </div>
                        <div class="rule">
                            <fieldset class="checkable-set rule-category">
                                <legend>
                                    <input type="checkbox" id="security"/>
                                    <label for="security">Security</label>
                                </legend>
                                <div class="rule-category__children">
                                    <input type="checkbox" id="disallowed-headers"/>
                                    <label for="disallowed-headers">disallowed-headers</label>

                                    <input type="checkbox" id="disown-opener"/>
                                    <label for="disown-opener">disown-opener</label>

                                    <input type="checkbox" id="no-protocol-relative-urls"/>
                                    <label for="no-protocol-relative-urls">no-protocol-relative-urls</label>

                                    <input type="checkbox" id="ssllabs"/>
                                    <label for="ssllabs">ssllabs</label>

                                    <input type="checkbox" id="x-content-type-options"/>
                                    <label for="x-content-type-options">x-content-type-options</label>
                                </div>
                            </fieldset>
                            <button title="open" class="button--icon icon--open"></button>
                        </div>
                    </div>

                    <!--- Upload Configuration Checked --->

                    <div id="upload-config" hidden>
                        <form>
                            <label class="subtitle" for="upload-config-file">Upload your configuration file</label>
                            <input id="upload-config-file" type="file" placeholder="Upload a configuration file">
                        </form>

                    </div>

                </div>
                <div class="module module--secondary scan-config">
                    <fieldset class="checkable-set">
                        <legend class="scan-heading uppercase-text">Scan Configuration</legend>
                            <input type="radio" id="recommended-config" name="scan-configuration" checked/>
                            <label for="recommended-config">Recommended (default)</label>

                            {{!-- <input type="radio" id="upload-config" name="scan-configuration"/>
                            <label for="upload-config">Upload configuration file</label>

                            <input type="radio" id="manual-config" name="scan-configuration"/>
                            <label for="manual-config">Manually select rules</label> --}}
                    </fieldset>
                    <p class="subtitle">For greater flexibility, use the command line tool to run your scan.</p>
                </div>
            </div>
        </div>
    </div>

        <div class="section scanner">
            <div class="container">
                {{>scan-form}}
            </div>
        </div>
    </article>
</main>
