<footer class="footer--home">
  <div class="footer-nav container">
    <div class="footer-nav__item">
      <p class="category">Scanner</p>
      <ul>
          <li>
              <a href="/">New scan</a>
          </li>
      </ul>
    </div>
    <div class="footer-nav__item">
      <p class="category">Documentation</p>
      <ul>
          <li>
              <a href="/docs/user-guide/rules/disallowed-headers.html">User Guide</a>
          </li>
          <li>Rules</li>
          <li>
              <a href="/docs/developer-guide/collectors/how-to-develop-a-collector.html">Developer Guide</a>
          </li>
      </ul>
    </div>
    <div class="footer-nav__item">
      <p class="category">
          <a href="/about">About</a>
      </p>
      <ul>
          <li>
              <a href="/about/faq">FAQ</a>
          </li>
          <li>
              <a href="/about/governance">Governance</a>
          </li>
          <li>Contributors</li>
          <li>Code of Conduct</li>
      </ul>
    </div>
    <div class="footer-nav__item">
      <p class="category">
          <a href="/changelog">Changelog</a>
      </p>
    </div>
    <div class="footer-nav__item .github-icon">
      <p class="category">
          <a href="">GitHub</a>
      </p>
    </div>
  </div>
</footer>
