<footer class="footer--home container">
    <p class="category">Scanner</p>
    <ul>
        <li>
            <a href="/">New scan</a>
        </li>
    </ul>
    <p class="category">Documentation</p>
    <ul>
        <li>
            <a href="/docs/user-guide/rules/disallowed-headers.html">User Guide</a>
        </li>
        <li>Rules</li>
        <li>
            <a href="/docs/developer-guide/collectors/how-to-develop-a-collector.html">Developer Guide</a>
        </li>
    </ul>
    <p class="category">
        <a href="/about">About</a>
    </p>
    <ul>
        <li>
            <a href="/about/faq">FAQ</a>
        </li>
        <li>
            <a href="/about/governance">Governance</a>
        </li>
        <li>Contributors</li>
        <li>Code of Conduct</li>
    </ul>
    <p class="category">
        <a href="/changelog">Changelog</a>
    </p>
</footer>
