<main>
    <article>
        <section class="container">
            <div class="top-illustration">
                <img src="{{url_for "images/iceberg-left.svg"}}" class="iceberg" id="iceberg1" />
                <img src="{{url_for "images/iceberg-middle.svg"}}" class="iceberg" id="iceberg2" />
                <img src="" class="iceberg iceberg3" />
                <div id="narwhal">
                    <img src="" class="narwhal" />
                </div>
            </div>
        </section>
        <section class="dark-blue">
            <div class="container home-container">
                {{>scan-form}}
                <div id="documentation">
                    <ul>
                        <li>
                            <a href="/docs/user-guide/rules/disallowed-headers.html">User Guide</a>
                        </li>
                        <li>Rules</li>
                        <li>
                            <a href="/docs/developer-guide/collectors/how-to-develop-a-collector.html">Developer Guide</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </article>
</main>
