<section class="section">
	<div class='page-content'>
		<form class="sitescan-form" action="/scanner" method="POST">
			<fieldset>
				<label for="sitescan-url">URL</label>
				<input id="sitescan-url" type="url" required name="url" />
			</fieldset>
			<div class="actions">
				<button class="button--primary" type="submit">Submit</button>
			</div>
		</form>
	</div>
</section>