<main>
    <article>
        <section class="container">
            <div class="top-illustration">
                <img src="{{url_for "images/iceberg-left.svg"}}" class="iceberg" id="iceberg1" />
                <img src="{{url_for "images/iceberg-middle.svg"}}" class="iceberg" id="iceberg2" />
                <img src="" class="iceberg iceberg3" />
                <div id="narwhal">
                    <img src="" class="narwhal" />
                </div>
            </div>
        </section>
        <section class="dark-blue">
            <div class="container home-container">
                <div class="home-container--input">
                    <form action="/scanner" method="POST">
                        <label for="home-scan">Enter your URL here</label>
                        <input id="home-scan" type="url" placeholder="Copy your URL here" />
                        <button type="submit">Run Scan</button>
                    </form>
                </div>
                <div class="home-container__documentation">
                  <p class="title uppercase-text">Documentation</p>
                    <div class="layout layout--thirds">
                      <div class="module">
                        <img src="images/user-guide-icon.svg" class="icons--home" />
                        <a href="/docs/user-guide/rules/disallowed-headers.html">User Guide</a>
                      </div>
                      <div class="module">
                        <img src="images/rules-icon.svg" class="icons--home" />
                        <a href="">Rules</a>
                      </div>
                      <div class="module">
                        <img src="images/dev-guide-icon.svg" class="icons--home" />
                        <a href="/docs/developer-guide/collectors/how-to-develop-a-collector.html">Developer Guide</a>
                      </div>
                    </div>
                </div>
            </div>
        </section>
    </article>
</main>
