<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    {{>metas}}

    {{>styles}}
    <link rel="stylesheet" href="{{url_for "/core/css/documentation.css "}}">
</head>

<body>

    {{>header navs=menuData}}
    {{{body}}}
    {{>footer navs=menuData}}

    {{>scripts}}
</body>
</html>
