<div class="bg-wrap-home">
    <main>
        <div class="home-container--alt  container">
            <div class="top-illustration">
                <img src="/images/iceberg-left.svg" id="iceberg1" alt="" role="presentation">
                <img src="/images/iceberg-middle.svg" id="iceberg2" alt="" role="presentation">
                <img src="/images/iceberg-right.svg" id="iceberg3" alt="" role="presentation">
                <img src="/images/narwhal.svg" id="narwhal" alt="" role="none">
            </div>
        </div>
        <div class="dark-blue">
            <div class="container home-container">
                <section class="home-container--section">
                    <h1 class="headline">sonar</h1>
                    <p class="title">build better web sites&mdash;lint the web forward</p>
                    <div class="actions">
                        <a class="button button-cta button--red" href="/docs/user-guide/">Getting Started</a>
                        <a class="button button-cta button--red" href="/scanner/">Try it online</a>
                    </div>
                </section>
                <section class="home-container--section home-container__features">
                    <h2 class="subheading subheading--home">Build better websites with sonar</h2>
                    <div class="layout layout--quarters">
                        <div class="module">
                            <p class="subtitle--alt subtitle--home uppercase-text">Don’t burnout&hellip;</p>
                            <p class="feature_highlight">
                                &hellip;trying to master all the things: sonar will help you with your site's accessibility, speed, security, and more, by linting your code for best practices and common errors.
                            </p>
                        </div>
                        <div class="module">
                            <p class="subtitle--alt subtitle--home uppercase-text">Fully customizable</p>
                            <p class="feature_highlight">
                                Every site is different. sonar adapts its feedback when you give it more information:
                                <a href="/docs/user-guide/#ignoringdomains">ignore 3rd-party code</a>,
                                <a href="/docs/user-guide/#browserconfiguration">prioritize <em>your</em> users' browsers</a>, and <a href="/docs/user-guide/">control the
                                results</a> with minimal setup.
                            </p>
                        </div>
                        <div class="module">
                            <p class="subtitle--alt subtitle--home uppercase-text">Create your own rules</p>
                            <p class="feature_highlight">
                                With the help of our <a href="/docs/contributor-guide/">developer guide</a>, you can
                                <a href="/docs/contributor-guide/rules/index.html">create new rules</a> to suit <em>your</em> needs. You can
                                help sonar help even more people like you by contributing your rules back!
                            </p>
                        </div>
                        <div class="module">
                            <p class="subtitle--alt subtitle--home uppercase-text">Community driven</p>
                            <p class="feature_highlight">
                                sonar welcomes anyone who wants to make the web a better place.
                                Testing, <a href="https://github.com/sonarwhal/sonarwhal.com/issues">filing issues and feature requests</a>,
                                <a href="/docs/developer-guide/contributing/pull-requests.html">contributing code</a>, and improving the documentation
                                are just the start!
                            </p>
                        </div>
                    </div>
                </section>
            </div>
            <div class="dark-blue">
                <section class="home-container home-container--section home-container__install">
                    <h2 class="subheading subheading--home">Install sonar</h2>
                    <div class="layout layout--halves vertical-align">
                        <div class="module">
                            <img src="images/home-nellie.svg" class="sub-illustration" alt="" role="presentation">
                        </div>
                        <div class="module">
                            <div class="code-wrap">
                                <ol>
                                    <li>npm install -g --engine-strict @sonarwhal/sonar</li>
                                    <li>sonar --init</li>
                                    <li>sonar https://awesomesite.com</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="home-container--alt home-container--section home-container__documentation">
                    <h2 class="subheading subheading--home">Documentation</h2>
                    <div class="layout layout--thirds">
                        <div class="module">
                            <a href="/docs/user-guide/">
                                <img src="images/user-guide-icon.svg" class="icons--home" alt="" role="none">
                                <p class="subtitle">User Guide</p>
                            </a>
                        </div>
                        <div class="module">
                            <a href="/docs/user-guide/rules/">
                                <img src="images/rules-icon.svg" class="icons--home" alt="" role="none">
                                <p class="subtitle">Rules</p>
                            </a>
                        </div>
                        <div class="module">
                            <a href="/docs/contributor-guide/">
                                <img src="images/dev-guide-icon.svg" class="icons--home" alt="" role="none">
                                <p class="subtitle">Contributor Guide</p>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>
</div>
