<div class="rule-result--details" aria-expanded="false" id="{{name}}">
    <div class="rule-result--details__header">
        <p class="rule-title">{{name}}</p>
    </div>
    <div class="rule-result__message--failed">
        <p>Scan failed</p>
    </div>
</div>
