<div class="documentation-search">
    <p class="subtitle">Search the sonar documentation</p>
    <div class="documentation-search__input">
        <form action="/search" method="GET">
            <label for="docs-scan" class="visually-hidden">Search the documentation</label>
            <div class="documentation-search__input">
                <input id="docs-scan" type="search" placeholder="Search sonar documentation" name="q" value="{{query}}">
                <button type="submit" class="button--search" value="submit" aria-label="submit"></button>
            </div>
        </form>
    </div>
</div>
