/*
* DOCUMENTATION
* ---------------------------------------------
*/

.page-intro {
	display: flex;
	justify-content: space-between;
    flex-wrap: wrap;
    text-transform: capitalize;
}

.documentation-actions {
	position: relative;
	margin-top: 1.2rem;
	align-self: center;
}

.documentation-actions::before {
	content: url("/images/github.svg");
	display: inline-block;
	position: absolute;
	left: 0;
	width: 2rem;
	margin-top: .3rem;
}

.documentation-actions ul {
	margin-left: 3rem;
}

.documentation-actions li {
	display: inline;
	margin-right: .8rem;
	font-size: 1.4rem;
}

.documentation-actions li + li::before {
	margin-right: .8rem;
	font-size: 1.4rem;
	content: "|";
}

.headerlink::after {
	position: absolute;
	content: url("/images/sub-section.svg");
	display: inline-block;
	width: 2rem;
	margin-top: .3rem;
	margin-left: 1.5rem;
}

@media(max-width: 33em) {

    .module--primary h2,
    .module--primary h3 {
        max-width: 32rem;
    }

}

/* LANDING PAGE */

/* Search button moved to base.css */

.documentation {
	flex: 0;
	padding-left: 0;
	max-width: 64rem;
	width: 100%;
}

.documentation-card {
	display: inline-block;
	width: 48%;
	margin-top: 0;
	text-align: center;
	border: 1px solid #18186d;
	cursor: pointer;
}

.documentation-card:first-child {
	margin-right: 1.2rem;
}

a > .documentation-card__main > img {
	position: relative;
	width: 10rem;
	top: 5rem;
}

.documentation-card__title {
	background-color: #18186d;
	color: #fff;
	padding: 6rem 0 2rem 0;
	font-size: 2rem;
	margin-top: .2rem;
}

@media (min-width: 48em) {

	.documentation-actions {
		margin-top: 0;
	}

	.documentation-wrapper {
		display: flex;
	}

	.documentation {
		flex: 1;
		padding-left: 4.6rem;
	}

	.documentation > .bare {
		margin-top: 2.4rem;
	}

}

@media (max-width: 32em) {

	.documentation-card {
		display: block;
		width: 100%;
		margin-bottom: 1.2rem;
	}

}

/* RULES LANDING PAGE */

.icon--accessibility::before {
	content: url("/images/results-a11y.svg");
	width: 3.5rem;
}

.icon--development::before {
	content: url("/images/dev-icon.svg");
	width: 3.5rem;
}

.icon--interoperability::before {
	content: url("/images/results-interop.svg");
	width: 3.5rem;
}

.icon--performance::before {
	content: url("/images/results-perf.svg");
	width: 3.5rem;
}

.icon--pwa::before {
	content: url("/images/results-pwa.svg");
	width: 3.5rem;
}

.icon--security::before {
	content: url("/images/results-security.svg");
	width: 3.5rem;
}

.icon--categories {
	position: relative;
    padding-left: 5rem;
    text-transform: capitalize;
}

.icon--categories::before {
	display: block;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1;
}

.placement__body {
	font-size: 1.6rem;
	margin-top: 1.2rem;
    line-height: 2.4rem;
}

.placement__rules {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	margin-top: 1.2rem;
	padding-bottom: 1.2rem;
	color: #4046dd;
	border-bottom: 1px solid #e6e6e6;
}

.placement__button {
	min-width: 3rem;
	font-size: 1.6rem;
}

.placement__button::after {
	display: inline-block;
	content: url("/static/images/next-arrow.svg");
	margin-left: .8rem;
	margin-top: .3rem;
	width: .7rem;
	vertical-align: middle;
}

/* INDIVIDUAL CATEGORY PAGES */

.category-description {
	margin-bottom: 2.4rem;
}
