/*
 *	FOOTER
 * =============================================
 */

footer {
    padding: 4.8rem 0 2.4rem;
}

.footer {
    background-color: #fff;
    border-top: 2px solid #4700a3;
}

.footer a {
    color: #4700a3;
    text-decoration: none;
}

.footer-nav {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
}

@media (min-width: 45.25em) {

    .footer-nav {
        flex-direction: row;
    }

}

.footer-nav__item {
    display: inline-block;
    margin: 0 5rem 5rem 0;
}

.footer-nav__item .category {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    letter-spacing: .1rem;
}


.footer-nav__item ul {
    margin: 1.2rem 0 0 0;
    list-style: none;
}

.footer-nav__item ul li {
    margin-top: .6rem;
}

.social-list {
    margin-left: auto;
    margin-right: 0;
}

.social-list li {
    display: inline-block;
    margin-left: 1.5rem;
}

.github-icon,
.twitter-icon,
.medium-icon {
    width: 3rem;
}

.footer-nav__item li.openjsf-icon {
    display: block;
    height: 3rem;
    margin-top: 1rem;
}

.openjsf-icon svg {
    height: 100%;
}

a .github-icon-svg,
a .twitter-icon-svg,
a .medium-icon-svg {
    fill: #292f56;
}

a .openjsf-logo-svg {
    fill: #54565a;
}

a:hover .github-icon-svg,
a:hover .twitter-icon-svg,
a:hover .medium-icon-svg {
    fill: #4700a3;
}

@media (max-width: 57.94em) {

    .social-list,
    .social-list li:first-child,
    .social-list li:last-child {
        margin-left: 0;
    }

    .openjsf-icon {
        position: relative;
        top: unset;
        right: unset;
    }

}
