/*
 * HOME PAGE
 * =============================================
 */

body {
    background-color: #4700a3;
    color: #fff;
}

main {
    margin-bottom: 0;
}

.bg-wrap--white {
    background-color: #fff;
    color: #404040;
}

.bg-wrap--grey {
    background-color: #f1f1f1;
    color: #404040;
}

.home-container--section {
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
}

.home--hero {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: wrap;
}

.home--hero__images {
    max-width: 27rem;
    margin-top: 1.2rem;
    text-align: center;
}

a.home--hero__images-wrap {
    display: block;
    padding: 1.5rem;
}

a.home--hero__images-wrap:hover {
    filter: drop-shadow(0 .5rem .5rem hsla(0, 0%, 0%, .3));
}

a.home--hero__images-wrap:focus {
    color: #fff;
}

.home--hero__cta {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 500;

    max-width: 100%;
    margin-top: .6rem;
    padding: .6rem 1rem;
    border-radius: .3rem;

    color: #fff;
    background-color: #d43e2b;

    letter-spacing: .1rem;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.module.feature {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.feature__highlight,
.install__code {
    font-size: 1.6rem;
    letter-spacing: .05rem;
    line-height: 2.8rem;
}

.feature__highlight {
    margin: 1.2rem 0;
}

.home-container__features h2,
.home-container__install h2 {
    text-align: center;
    color: #4700a3;
    margin: 0 auto 4.8rem auto;
}

.home-container__features h2::after,
.home-container__install h2::after {
    content: "";
    position: relative;
    display: block;
    height: .5rem;
    width: 10rem;
    border-bottom: 2px solid #4700a3;
    text-align: center;
    margin: 1.2rem auto;
}

.home-container__documentation a > p {
    font-weight: 400;
    color: #fff;
}

/* stylelint-disable */
.home-container__features img {
    max-width: 75%;
    height: 15em;
}

.home--docs {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    letter-spacing: .1rem;
}

.home--docs-text {
    display: inline-block;
    max-width: 30rem;
}

.home--docs-text a {
    display: block;
    color: #fff;
}

.home--docs-text p {
    font-size: 1.6rem;
    margin-top: 0;
    line-height: 2.8rem;
    letter-spacing: .05rem;
}

.home--docs-text .subtitle {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: .6rem;
}

.home--docs-icons {
    display: inline-block;
    max-width: 9rem;
    width: 100%;
    margin: 0 2.4rem 0 0;
}

.scan-image {
    height: 15em;
}

/* Custom Type Home */

.subheading--home {
    letter-spacing: .06rem;
    text-transform: none;
}

.subtitle--home {
    position: relative;
    font-weight: 500;
    letter-spacing: .05rem;
    text-transform: uppercase;
}

@media (min-width: 33.75em) {

    .vertical-align {
        display: flex;
    }

    .module-center {
        align-self: center;
    }

}

.code-wrap {
    font-family: "Consolas", "Menlo", monospace;
    color: #4700a3;

    padding: 0 0 1.2rem 2.4rem;

    text-align: left;
    word-wrap: break-word;
}

.code-wrap p {
    margin: 1rem 0;
}

.code-wrap p > code {
    font-size: 2.2rem;
    margin-left: 2rem;
}

/* Custom Home Page Controls */

input {
    max-width: 74rem;
}

/* Home footer is a different color than the rest of the site */
.footer--home {
    background-color: hsla(0, 0%, 0%, 0.4);
    border-top: 1px solid #fff;
}

.footer--home a {
    color: #fff;
}

.footer--home .footer-nav__item .category {
    color: #fff;
}

a .github-icon-svg,
a .twitter-icon-svg,
a .medium-icon-svg {
    fill: #fff;
}

.module--primary h1 {
    display: block;
    color: #fff;
    font-size: 4.6rem;
    letter-spacing: .03rem;
}
