/*
 * SITE HEADER
 * ---------------------------------------------
 */

.nav-bar {
    margin: 0 auto;
    height: 6rem;

    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .15rem;
}

.header {
    width: 100%;
    background-color: #4700a3;
}

/* HEADER: Site logo */
.logo--container {
    width: 24rem;
}

.logo--container img {
    max-width: 16rem;
}

.header__logo {
    float: left; /* for non Flexbox browsers */
    width: 100%;

    overflow: hidden;
    align-self: center;
}

.nav-bar--mobile-buttons {
    display: flex;
    max-width: 12rem;
    margin-left: auto;
}

.header__toggle {
    min-width: 0;
    margin: 0;
    border: 0;
    padding: 2.5rem;

    background: 0;
}

.header__toggle:hover,
.header__toggle:focus {
    outline: 0;
    background-color: hsla(0, 0%, 0%, .3);
}


@media (max-width: 63em) {

    .header {
        height: 11rem;
        position: sticky;
        top: 0;
        z-index: 2;
    }

    .logo--container {
        max-width: 16rem;
    }
}

@media (min-width: 63em) {

    .nav-bar--mobile-buttons {
        display: none;
    }

}

/*
 * SOCIAL HEADER
 * ---------------------------------------------
 */

.header-social {
    background-color: hsla(0, 0%, 0%, .2);
}

.header-social__container {
    display: flex;
    align-items: center;
    height: 3.5rem;
}

.header-social__container > img {
    width: 100%;
    max-width: 17.5rem;
}

.header-social__list {
    margin: 0 0 0 auto;
}

.header-social__list > [class*="-icon"] {
    display: inline-block;
    width: 2.25rem;
    height: 2.5rem;
    margin: .5rem 0 .5rem 1rem;
}

.header-social__list li a:focus {
    color: #fff;
}

a .github-icon-svg-header,
a .medium-icon-svg-header,
a .twitter-icon-svg-header {
    fill: #fff;
}


/*
 * SITE NAVIGATION
 * ---------------------------------------------
 */

.nav {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    width: 100%; /* make sure it is full width when in mobile layout */
    margin: 0;
}

.nav__navbar {
    display: none;
    width: 100%;
    max-width: 144rem;

    margin: 0 auto 0 1rem;
    list-style-type: none;
}

button.mobile-nav-button,
button.mobile-search-button {
    max-width: 5rem;
    width: 100%;
    z-index: 20;
}

.mobile-nav-button {
    background-image: url("/images/mobile-menu-button.svg");
    background-repeat: no-repeat;
    background-position: 1.2rem 50%;
    background-size: 2.5rem;
}

.mobile-search-button {
    background-image: url("/images/search-icon.svg");
    background-repeat: no-repeat;
    background-position: 1.4rem 50%;
    background-size: 2rem;
}

.mobile-close-button {
    display: none;
}

[hidden] {
    display: none;
}

/* Show menu in mobile view when button is clicked */
@media (max-width: 63em) {

    .nav {
        z-index: 10;
    }

    .header__logo {
        padding: 2rem 0;
    }

    .nav-bar {
        padding-left: 0;
    }

    .nav__navbar.show {
        position: absolute;
        display: block;
        top: 9.4rem;
        left: 0;
        margin: 0;
        background-color: #390082;
        z-index: 30;
    }

    .nav-bar .navbar__submenu > li > a {
        padding-left: 2.3rem;
    }

    .nav-bar--container {
        display: none;
    }

    .nav-bar--container.show {
        position: absolute;
        top: 0;
        display: flex;
        width: 100%;
        height: 11rem;
        margin-left: -1rem;
        background-color: #4700a3;
        z-index: 30;
    }

    .mobile-close-button {
        display: inline-block;
        position: relative;
        background: 0;
        min-width: 8rem;
        padding: 3.5rem 0 4.5rem 0;
    }

}

@media (min-width: 63em) {

    .nav__navbar {
        display: block;
        width: 100%;
    }

    .nav__navbar > li {
        float: left;
    }

}

/* Individual items in site menu */
.navbar__navitem {
    margin: 0;
}

.nav__navbar a {
    display: block;
    padding: 2.1rem 1rem;
    color: #fff;
}

.navbar_submenu li a {
    padding: 1rem;
}

.nav-bar a {
    display: block; /* temp until consolidate. */
    color: #fff;
}

.header .navitem__button:hover,
.header .navitem__button:focus {
    text-decoration: none;
}

.nav__navbar > li > a::after {
    display: inline-block;
    content: url("/images/nav-arrow.svg");
    margin-left: .6rem;
    width: 1.3rem;
    vertical-align: top;
}

.nav__navbar > li > a#scanner::after,
.nav__navbar > li > a#github::after {
    display: none;
}

.navbar__submenu {
    margin: 0;
    list-style-type: none;
}

.nav-bar .navbar__submenu {
    background-color: #390082;
}

.navbar__navitem a {
    transition: background-color ease-out .5s;
    white-space: nowrap; /* stop arrow breaking onto new line before font loads */
}

.navbar__navitem a:hover,
.navbar__navitem a:focus {
    outline: 0;
    background-color: hsla(0, 0%, 0%, .2);
    transition: none;
    text-decoration: underline;
}

.navbar__navitem li {
    margin: 0;
    background-color: hsla(0, 0%, 0%, .3);
}

.nav-bar .navbar__navitem li {
    background: none;
}

.nav-bar .navbar__navitem li a:hover {
    background-color: hsla(0, 0%, 0%, .2);
}

.navbar__submenu .navitem__button::after {
    position: absolute;
    right: 2.25rem; /* same as padding right on element. Float right cleaner but breaks in FF #1118 */
    line-height: 2.25rem;

    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.navbar__submenu .navbar__submenu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;

    background-image: linear-gradient(hsla(0, 0%, 0%, .05), hsla(0, 0%, 0%, .05));
}

@media (min-width: 33.75em) {

    .form-search {
        position: relative;
        left: 0;
        margin: 0;
    }

}


@media (min-width: 48em) {

    .nav__navbar a {
        padding: 2.1rem 1.4rem;
    }

    .navbar__submenu {
        position: absolute;
        z-index: 10;
        min-width: 27rem;
    }

    .navbar__submenu a {
        padding: 1.4rem;
    }

    .navbar__submenu li:last-of-type {
        padding-bottom: .8rem;
    }

}

@media (-ms-high-contrast: active) {

    .navbar__submenu {
        border: 1px solid;
    }

    .navbar__navitem a {
        transition: none;
    }

    .navbar__navitem a:focus,
    .header .navbar__navitem a[aria-expanded="true"] {
        -ms-high-contrast-adjust: none;
        background-color: highlight;
        color: highlightText;
    }

}
