/*
 *	FOOTER
 * =============================================
 */

footer {
    padding: 4.8rem 0;
    min-height: 15rem;
}

/* Home footer is a different color than the rest of the site */
.footer--home {
    background-color: #0c1366;
    border-top: 1px solid #fff;
}

.footer-nav {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 3rem;
}

@media (min-width: 32em) {

    .footer-nav {
        flex-direction: row;
    }

}

.footer-nav__item {
    display: inline-block;
    margin: 0 5rem 5rem 0;
}

.footer-nav__item .category {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    letter-spacing: .13rem;
    text-transform: uppercase;
}

.footer-nav__item ul {
    margin-top: 1.2rem;
    line-height: 3rem;
    list-style: none;
}

.github-icon {
    margin-left: auto;
}
