/*
 *	FOOTER
 * =============================================
 */

footer {
    padding: 4.8rem 0 2.4rem;
}

.footer {
    background-color: #fff;
    border-top: 2px solid #2d28a1;
}

.footer a {
    color: #292f56;
}

.footer-nav {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

@media (min-width: 32em) {

    .footer-nav {
        flex-direction: row;
    }

}

.footer-nav__item {
    display: inline-block;
    margin: 0 5rem 5rem 0;
}

.footer-nav__item .category {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #2d28a1;
    letter-spacing: .13rem;
    text-transform: uppercase;
}

.footer-nav__item ul {
    margin: 1.2rem 0 0 0;
    line-height: 3rem;
    list-style: none;
}

.github-icon {
    margin-left: auto;
    width: 4rem;
}

a .github-icon-svg {
    fill: #292f56;
}

a:hover .github-icon-svg {
    fill: #4046dd;
}

@media (max-width: 57.94em) {

    .github-icon {
        margin-left: 0;
    }

}
