/*
 * Pagination
 * =============================================
 * @Dependencies: base.css, type.css
 */

.pagination {
    margin-top: 2.4rem;
    width: 100%;
}

/* Override main ul styles */
.pagination ul {
    max-width: 100%;
}

.pagination li,
.pagination a,
.pagination span {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.pagination li + li {
    margin-left: .6rem;
}

.pagination a,
.pagination [aria-current="page"] {
    padding: .4rem 1.1rem;
    color: inherit;
}

.pagination a:hover,
.pagination a:focus {
    background: hsla(0, 0%, 0%, .1);
    color: inherit;
    text-decoration: none;
}

.pagination a:active {
    background: hsla(0, 0%, 0%, .3);
    outline: transparent;
}

.pagination [aria-current="page"] {
    border: 1px solid #4046dd;
}

.pagination__prev a,
.pagination__next a {
    position: relative;
    padding: .3rem 1.1rem; /* Fudge vertical centering, due to arrows */
}

.pagination__prev a::before,
.pagination__next a::after {
    display: inline-block;
    vertical-align: middle;
    width: .8rem;
}

.pagination__prev a::before {
    margin-right: .8rem;
    content: url("../../images/previous-arrow.svg");
}

.pagination__next a::after {
    margin-left: .8rem;
    content: url("../../images/next-arrow.svg");
}

.pagination__prev span,
.pagination__next span {
    display: inline-block;
    margin-top: -.2rem; /* Fudge vertical centering, due to arrows */
    max-width: 16rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Hide text labels on small screens */
@media (max-width: 37.5em) {

    .pagination li + li {
        margin-left: .3rem;
    }

    .pagination__prev span,
    .pagination__next span {
        position: absolute;
        clip: rect(0 0 0 0);
    }

    .pagination__prev a::before {
        margin-right: 0;
    }

    .pagination__next a::after {
        margin-left: 0;
    }

}

/* High contrast mode */
@media (-ms-high-contrast: active) {

    .pagination a:hover,
    .pagination a:active,
    .pagination a:focus,
    .pagination [aria-current="page"] {
        color: buttonText;
    }

}
